<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Bootstrap -->
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

    <!-- Mobile detect -->
    <script src="https://cdn.jsdelivr.net/npm/mobile-detect@1.4.4/mobile-detect.min.js"></script>

    <!-- Crypto -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/8.0.20/jsrsasign-all-min.js"></script>
</head>

<body>
    <div id="app">
    <b-container class="bv-example-row">

        <!-- Modal mobile menu -->
        <b-modal id="modal-menu" centered title="Меню" hide-footer>
        <b-container class="bv-example-row">
            <b-button v-b-modal.modal-add-friend block>Добавить контакт</b-button>
            <b-button v-if="friend" v-b-modal.modal-edit-friend block>Редактировать контакт</b-button>
            <b-button v-if="friend" v-b-modal.modal-del-friend block>Удалить контакт</b-button>
            <b-button v-if="friend" v-b-modal.modal-del-msgs block>Удалить диалог</b-button>
        </b-container>
        </b-modal>
        
        <b-modal id="modal-add-friend" centered ok-only ok-title="Сохранить" ok-variant="success" title="Добавление контакта" @show="resetModal" @hidden="resetModal" @ok="handleOk">
            <form ref="form" @submit.stop.prevent="handleSubmit">
                <b-form-group
                :state="nameState"
                label="Имя"
                label-for="name-input"
                invalid-feedback="Имя обязательно"
                >
                <b-form-input
                    id="name-input"
                    v-model="name"
                    :state="nameState"
                    required
                ></b-form-input>

                </b-form-group>
                <b-form-group
                :state="keyState"
                label="Ключ"
                label-for="key-input"
                invalid-feedback="Ключ обязателен"
                >
                <b-form-input
                    id="key-input"
                    v-model="key"
                    :state="keyState"
                    required
                ></b-form-input>
                </b-form-group>
            </form>
        </b-modal>

        <b-modal id="modal-edit-friend" centered ok-only ok-title="Сохранить" ok-variant="success" title="Редактировать контакт" @show="resetModal" @hidden="resetModal" @ok="handleEdit">
            <form ref="form" @submit.stop.prevent="handleSubmit">
                <b-form-group
                :state="nameState"
                label="Имя"
                label-for="name-input"
                invalid-feedback="Имя обязательно"
                >
                <b-form-input
                    id="name-input"
                    v-model="friend.name"
                    :state="nameState"
                    required
                ></b-form-input>
                <b-form-group
                :state="keyState"
                label="Ключ"
                label-for="key-input"
                invalid-feedback="Ключ обязателен"
                >
                <b-form-input
                    id="key-input"
                    v-model="friend.key"
                    :state="keyState"
                    required
                ></b-form-input>
                </b-form-group>
            </form>
        </b-modal>

        <b-modal id="modal-del-friend" ok-only ok-title="Удалить" ok-variant="danger" centered title="Удаление контакта" @ok="handleDel">
            <p class="my-4">Удалить контакт {{ friend.name }}?</p>
        </b-modal>

        <b-modal id="modal-del-msgs" ok-only ok-title="Удалить" ok-variant="danger" centered title="Удаление диалога" @ok="handleDelAllMsg">
            <p class="my-4">Удалить диалог с {{ friend.name }}?</p>
        </b-modal>

        <!-- Modal call -->
        <b-modal id="modal-call" centered title="Звонок" hide-footer>
            <h1 align="center"><b-icon-person-circle></b-icon-person-circle></h1>
            <h1 align="center">{{ friend.name }}</h1>
            <p align="center"><audio id="gum-local" controls autoplay></audio></p>
            <p align="center"><b-button pill variant="outline-danger" size="lg"><b-icon-telephone-x-fill></b-icon-telephone-x-fill></p>
        </b-modal>

        <!-- Modal video-call -->
        <b-modal id="modal-video-call" size="xl" centered title="Видео звонок" hide-footer>
            <h1 align="center">{{ friend.name }}</h1>
            <b-dropdown id="dropdown-text" text="Ваша камера" class="m-2">
                <b-dropdown-text style="width: 240px;">
                    <video style="width:100%;" id="localVideo" autoplay muted></video>
                </b-dropdown-text>
            </b-dropdown>
            <video style="width:100%;" id="remoteVideo" autoplay></video>
            <p align="center"><b-button pill variant="outline-danger" size="lg"><b-icon-telephone-x-fill></b-icon-telephone-x-fill></b-button></p>
        </b-modal>

        <!-- Nav bar mobile -->
        <b-navbar v-if="isMobile" sticky="true">
            <b-navbar-nav>
                <b-button-group>
                <b-button v-if="friend" v-on:click="app.back()"><b-icon-arrow-left></b-icon-arrow-left></b-button>
                <b-button v-if="!friend" v-b-modal.modal-add-friend><b-icon-person-plus-fill></b-icon-person-plus-fill></b-button>
                <b-button v-if="friend" v-b-modal.modal-menu><b-icon-list></b-icon-list></b-button>
                <b-button v-if="friend.status" v-on:click="createOfferSDP('chat')">WebRTC <b-icon-broadcast-pin v-if="friend.webrtc"></b-icon-broadcast-pin></b-button>
                <b-button v-if="friend.status" v-b-modal.modal-call v-on:click="createOfferSDPMedia('audio')"><b-icon-telephone-fill></b-icon-telephone-fill></b-button>
                <b-button v-if="friend.status" v-b-modal.modal-video-call v-on:click="createOfferSDPMedia('video')"><b-icon-camera-reels-fill></b-icon-camera-reels-fill></b-button>
                </b-button-group>
            </b-navbar-nav>
        </b-navbar>

        <!-- Nav bar -->
        <b-navbar v-else sticky="true" class="w-100" type="light" variant="light">
            <b-navbar-nav>
                <b-button-group>
                <b-button v-on:click="app.friendList()"><b-icon-people-fill></b-icon-people-fill></b-button>
                <b-button v-b-modal.modal-add-friend><b-icon-person-plus-fill></b-icon-person-plus-fill></b-button>
                <b-button v-if="friend" v-b-modal.modal-edit-friend><b-icon-person-lines-fill></b-icon-person-lines-fill></b-button>
                <b-button v-if="friend" v-b-modal.modal-del-friend><b-icon-person-x-fill></b-icon-person-x-fill></b-button>
                <b-button v-if="friend" v-b-modal.modal-del-msgs><b-icon-trash-fill></b-icon-trash-fill></b-button>
                <b-button v-if="friend.status" v-on:click="createOfferSDP('chat')">WebRTC <b-icon-broadcast-pin v-if="friend.webrtc"></b-icon-broadcast-pin></b-button>
                <b-button v-if="friend.status" v-b-modal.modal-call v-on:click="createOfferSDPMedia('audio')"><b-icon-telephone-fill></b-icon-telephone-fill></b-button>
                <b-button v-if="friend.status" v-b-modal.modal-video-call v-on:click="createOfferSDPMedia('video')"><b-icon-camera-reels-fill></b-icon-camera-reels-fill></b-button>
                </b-button-group>
            </b-navbar-nav>
        </b-navbar>

    <b-row v-if="isMobile" class="mb-2">
            <!-- Msg List -->
            <b-col cols="12">
            <div v-if="friend" class="mt-2 mb-2">
                <msg-list 
                    v-for="item in msgs" 
                    v-bind:msg="item"
                    v-bind:key="item.id">
                </msg-list>
            </div>       
            <!-- Start msg -->
            <div v-else>
                <friend-list
                    class="mt-2 mb-2"
                    v-for="item in friendsList" 
                    v-bind:friend="item"
                    v-bind:key="item.id">
                </friend-list>             
            </div>
            </b-col>
    </b-row>

    <b-row v-else class="mb-2">

        <!-- friend List -->
        <b-col v-if="friendListVisible" cols="3">
            <friend-list 
                v-for="item in friendsList" 
                v-bind:friend="item"
                v-bind:key="item.id">
            </friend-list>
        </b-col>

        <div></div>

        <!-- Msg List -->
        <b-col cols="9">
        <div v-if="friend">
            <msg-list 
                v-for="item in msgs" 
                v-bind:msg="item"
                v-bind:key="item.id">
            </msg-list>
        </div>

        <!-- Start msg -->
        <div v-else>
            <div>
                <b-jumbotron bg-variant="light" text-variant="dark" border-variant="dark">
                  <template v-slot:header>Web-RTC мессенджер</template>
              
                  <template v-slot:lead>
                    Этот мессенджер работает на технологии Web-RTC.
                  </template>
              
                  <hr class="my-4">
              
                  <p>
                    <b-link href="https://webrtc.org/">Больше информации о Web-RTC</b-link>
                  </p>
                </b-jumbotron>
              </div>              
        </div>

        </b-col>

    </b-row>


    <!-- Msg form -->
    <div v-if="friend">

        <!-- Msg form for mobile -->
        <b-container v-if="isMobile">
            <b-row align-v="center mx-0" class="fixed-bottom m-0 rounded-0">
                <b-col cols="10">
                    <b-form-input
                        id="textarea"
                        v-bind:placeholder="friend.name"
                        v-model="sendMsgText"
                        rows="1"
                        max-rows="10"
                        class="w-100 xl"
                        ></b-form-input>
                </b-col>
                <b-col align-self="center" cols="2">
                    <b-button v-on:click="app.sendMsg()" class="w-100 xl"><b-icon-shift></b-icon-shift></b-button>
                </b-col>
            </b-row>
        </b-container>

        <!-- Msg form for desktop -->
        <b-container v-else>
            <b-row align-v="center mx-0" class="fixed-bottom m-0 rounded-0">
                <b-col cols="3"></b-col>
                <b-col cols="5">
                    <b-form-input
                        id="textarea"
                        v-bind:placeholder="friend.name"
                        v-model="sendMsgText"
                        rows="1"
                        max-rows="10"
                        class="w-100 xl"
                        ></b-form-input>
                </b-col>
                <b-col align-self="center" cols="1">
                    <b-button v-on:click="app.sendMsg()" class="w-100 xl"><b-icon-shift></b-icon-shift></b-button>
                </b-col>
                <b-col cols="3"></b-col>
            </b-row>
        </b-container>

    </div>

    </b-container>
    </div>

 

</body>

    <!-- JS -->
    <script src='./api.js'></script>
    <script src='./sign.js'></script>
    <script src='./webrtc.js'></script>
    <script src='./DB.js'></script>
    <script src='./main.js'></script>

</html>