<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Bootstrap -->
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

    <!-- Mobile detect -->
    <script src="https://cdn.jsdelivr.net/npm/mobile-detect@1.4.4/mobile-detect.min.js"></script>

    <!-- Crypto -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/8.0.20/jsrsasign-all-min.js"></script>
</head>

<body>
    <div id="app">
    <b-container class="bv-example-row">

        <!-- Modal mobile menu -->
        <b-modal id="modal-menu" centered title="Menu" hide-footer>
        <b-container class="bv-example-row">
            <b-button v-b-modal.modal-add-frend  block><b-icon-person-plus-fill></b-icon-person-plus-fill></b-button>
            <b-button v-if="frend" v-b-modal.modal-edit-frend  block><b-icon-person-lines-fill></b-icon-person-lines-fill></b-button>
            <b-button v-if="frend" v-b-modal.modal-del-frend  block><b-icon-person-x-fill></b-icon-person-x-fill></b-button>
            <b-button v-if="frend" v-b-modal.modal-del-msgs  block><b-icon-trash-fill></b-icon-trash-fill></b-button>
        </b-container>
        </b-modal>
        
        <b-modal id="modal-add-frend" centered title="Add frend" @show="resetModal" @hidden="resetModal" @ok="handleOk">
            <form ref="form" @submit.stop.prevent="handleSubmit">
                <b-form-group
                :state="nameState"
                label="Name"
                label-for="name-input"
                invalid-feedback="Name is required"
                >
                <b-form-input
                    id="name-input"
                    v-model="name"
                    :state="nameState"
                    required
                ></b-form-input>

                </b-form-group>
                <b-form-group
                :state="keyState"
                label="Key"
                label-for="key-input"
                invalid-feedback="Key is required"
                >
                <b-form-input
                    id="key-input"
                    v-model="key"
                    :state="keyState"
                    required
                ></b-form-input>
                </b-form-group>
            </form>
        </b-modal>

        <b-modal id="modal-edit-frend" centered ok-title="Edit" ok-variant="success" title="Edit frend" @show="resetModal" @hidden="resetModal" @ok="handleEdit">
            <p>Edit frend {{ frend.name }}</p>
            <form ref="form" @submit.stop.prevent="handleSubmit">
                <b-form-group
                :state="nameState"
                label="Name"
                label-for="name-input"
                invalid-feedback="Name is required"
                >
                <b-form-input
                    id="name-input"
                    v-model="frend.name"
                    :state="nameState"
                    required
                ></b-form-input>
                <b-form-group
                :state="keyState"
                label="Key"
                label-for="key-input"
                invalid-feedback="Key is required"
                >
                <b-form-input
                    id="key-input"
                    v-model="frend.key"
                    :state="keyState"
                    required
                ></b-form-input>
                </b-form-group>
            </form>
        </b-modal>

        <b-modal id="modal-del-frend" ok-title="Delete" ok-variant="danger" centered title="Delete frend" @ok="handleDel">
            <p class="my-4">You delete frend {{ frend.name }}!</p>
        </b-modal>

        <b-modal id="modal-del-msgs" ok-title="Delete" ok-variant="danger" centered title="Delete messages" @ok="handleDelAllMsg">
            <p class="my-4">You delete messages from {{ frend.name }}!</p>
        </b-modal>

        <!-- Modal call -->
        <b-modal id="modal-call" size="xl" centered title="Call" hide-footer>
            <b-row class="mb-2">
                <b-col cols="5"></b-col>
                <b-col cols="2"><h1><b-icon-person-circle></b-icon-person-circle></h1></b-col>
                <b-col cols="5"></b-col>
            </b-row>
            <b-row class="mb-2">
                <b-col cols="5"></b-col>
                <b-col cols="2"><h1>{{ frend.name }}</h1></b-col>
                <b-col cols="5"></b-col>
            </b-row>
            <b-row class="mb-2">
                <b-col cols="5"></b-col>
                <b-col cols="2"><b-button pill variant="outline-danger" size="lg"><b-icon-telephone-x-fill></b-icon-telephone-x-fill></b-button></b-col>
                <b-col cols="5"></b-col>
            </b-row>
        </b-modal>

        <!-- Modal video-call -->
        <b-modal id="modal-video-call" size="xl" centered title="Video-call" hide-footer>
            <b-row class="mb-2">
                <b-col cols="5"></b-col>
                <b-col cols="2"><h1>{{ frend.name }}</h1></b-col>
                <b-col cols="5"></b-col>
            </b-row>

            <video id="localVideo" autoplay muted></video>
            <video id="remoteVideo" autoplay></video>
            
            <b-row class="mb-2">
                <b-col cols="5"></b-col>
                <b-col cols="2"><b-button pill variant="outline-danger" size="lg"><b-icon-telephone-x-fill></b-icon-telephone-x-fill></b-button></b-col>
                <b-col cols="5"></b-col>
            </b-row>
        </b-modal>

        <!-- Nav bar mobile -->
        <b-navbar v-if="isMobile" sticky="true">
            <b-navbar-nav>
                <b-button-group>
                <b-button v-if="frend" v-on:click="app.back()"><b-icon-arrow-left></b-icon-arrow-left></b-button>
                <b-button v-if="!frend" v-b-modal.modal-add-frend><b-icon-person-plus-fill></b-icon-person-plus-fill></b-button>
                <b-button v-if="frend" v-b-modal.modal-menu><b-icon-list></b-icon-list></b-button>
                <b-button v-if="frend.status" v-on:click="createOfferSDP('chat')">WebRTC <b-icon-broadcast-pin v-if="frend.webrtc"></b-icon-broadcast-pin></b-button>
                <b-button v-if="frend.status" v-b-modal.modal-call v-on:click="createOfferSDP('audio')"><b-icon-telephone-fill></b-icon-telephone-fill></b-button>
                <b-button v-if="frend.status" v-b-modal.modal-video-call v-on:click="createOfferSDP('video')"><b-icon-camera-reels-fill></b-icon-camera-reels-fill></b-button>
                </b-button-group>
            </b-navbar-nav>
        </b-navbar>

        <!-- Nav bar -->
        <b-navbar v-else sticky="true" class="w-100" type="light" variant="light">
            <b-navbar-nav>
                <b-button-group>
                <b-button v-on:click="app.frendList()"><b-icon-people-fill></b-icon-people-fill></b-button>
                <b-button v-b-modal.modal-add-frend><b-icon-person-plus-fill></b-icon-person-plus-fill></b-button>
                <b-button v-if="frend" v-b-modal.modal-edit-frend><b-icon-person-lines-fill></b-icon-person-lines-fill></b-button>
                <b-button v-if="frend" v-b-modal.modal-del-frend><b-icon-person-x-fill></b-icon-person-x-fill></b-button>
                <b-button v-if="frend" v-b-modal.modal-del-msgs><b-icon-trash-fill></b-icon-trash-fill></b-button>
                <b-button v-if="frend.status" v-on:click="createOfferSDP('chat')">WebRTC <b-icon-broadcast-pin v-if="frend.webrtc"></b-icon-broadcast-pin></b-button>
                <b-button v-if="frend.status" v-b-modal.modal-call v-on:click="createOfferSDP('audio')"><b-icon-telephone-fill></b-icon-telephone-fill></b-button>
                <b-button v-if="frend.status" v-b-modal.modal-video-call v-on:click="createOfferSDP('video')"><b-icon-camera-reels-fill></b-icon-camera-reels-fill></b-button>
                </b-button-group>
            </b-navbar-nav>
        </b-navbar>

    <b-row v-if="isMobile" class="mb-2">
            <!-- Msg List -->
            <b-col cols="12">
            <div v-if="frend" class="mt-2 mb-2">
                <msg-list 
                    v-for="item in msgs" 
                    v-bind:msg="item"
                    v-bind:key="item.id">
                </msg-list>
            </div>       
            <!-- Start msg -->
            <div v-else>
                <frend-list
                    class="mt-2 mb-2"
                    v-for="item in frendsList" 
                    v-bind:frend="item"
                    v-bind:key="item.id">
                </frend-list>             
            </div>
            </b-col>
    </b-row>

    <b-row v-else class="mb-2">

        <!-- Frend List -->
        <b-col v-if="frendListVisible" cols="3">
            <frend-list 
                v-for="item in frendsList" 
                v-bind:frend="item"
                v-bind:key="item.id">
            </frend-list>
        </b-col>

        <div></div>

        <!-- Msg List -->
        <b-col cols="9">
        <div v-if="frend">
            <msg-list 
                v-for="item in msgs" 
                v-bind:msg="item"
                v-bind:key="item.id">
            </msg-list>
        </div>

        <!-- Start msg -->
        <div v-else>
            <div>
                <b-jumbotron bg-variant="light" text-variant="dark" border-variant="dark">
                  <template v-slot:header>Web-RTC messenger</template>
              
                  <template v-slot:lead>
                    This messenger work on Web-RTC technology.
                  </template>
              
                  <hr class="my-4">
              
                  <p>
                    <b-link href="https://webrtc.org/">More about Web-RTC</b-link>
                  </p>
                </b-jumbotron>
              </div>              
        </div>

        </b-col>

    </b-row>


    <!-- Msg form -->
    <div v-if="frend">

        <!-- Msg form for mobile -->
        <b-container v-if="isMobile">
            <b-row align-v="center mx-0" class="fixed-bottom m-0 rounded-0">
                <b-col cols="10">
                    <b-form-input
                        id="textarea"
                        v-bind:placeholder="frend.name"
                        v-model="sendMsgText"
                        rows="1"
                        max-rows="10"
                        class="w-100 xl"
                        ></b-form-input>
                </b-col>
                <b-col align-self="center" cols="2">
                    <b-button v-on:click="app.sendMsg()" class="w-100 xl"><b-icon-shift></b-icon-shift></b-button>
                </b-col>
            </b-row>
        </b-container>

        <!-- Msg form for desktop -->
        <b-container v-else>
            <b-row align-v="center mx-0" class="fixed-bottom m-0 rounded-0">
                <b-col cols="3"></b-col>
                <b-col cols="5">
                    <b-form-input
                        id="textarea"
                        v-bind:placeholder="frend.name"
                        v-model="sendMsgText"
                        rows="1"
                        max-rows="10"
                        class="w-100 xl"
                        ></b-form-input>
                </b-col>
                <b-col align-self="center" cols="1">
                    <b-button v-on:click="app.sendMsg()" class="w-100 xl"><b-icon-shift></b-icon-shift></b-button>
                </b-col>
                <b-col cols="3"></b-col>
            </b-row>
        </b-container>

    </div>

    </b-container>
    </div>

 

</body>

    <!-- JS -->
    <script src='./api.js'></script>
    <script src='./sign.js'></script>
    <script src='./webrtc.js'></script>
    <script src='./DB.js'></script>
    <script src='./main.js'></script>

</html>